{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    
    <div style="width: 50%; margin: auto;" class="my-5 cartlist-contain">
        <h4 class="fw-light">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly</h4>.

        <h4 class="fw-light">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h4>
    </div>
    
{% endblock %}