{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="container mb-5 pb-5">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h1 class="text-center fw-light text-danger">Ordered History</h1>
    <a class="btn btn-danger"  href="{% url 'delete_historylist_all' %}">Delete All</a>
  </div>

 
{% if food_historylist %}
<table class="table my-3">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Date</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody id="cloth-cartlist">
    {% for food in food_historylist %}
    <tr class="shadow">
      <td><img src="{{food.image.url}}" class="cdlist-image" alt="..."></td>
        <td><a href="{% url 'food_details' food.foodid %}">{{food.name}}</a></td>
        <td>${{food.price}}</td>
        <td>{{food.quantity}}</td>
        <td>{{food.created}}</td>
        <td><a class="btn btn-danger" href="{% url 'delete_historylist' food.id %}" ><i class="fa-solid fa-trash"></i></a></td>
    </tr>
    {% endfor %}
   
  </tbody>
</table>
{% else %}
<h3 class="text-center my-5 py-5 fw-light">Ordered list empty</h3>
{% endif %}




</div>





{% endblock %}

