{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}


<div class="container my-5 py-5">

  <div class="mb-3 " style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-lg-6">
        <img src="{{food.image.url}}" class="img-fluid rounded-start w-75 ms-5" alt="...">
      </div>
      <div class="col-lg-6 my-auto">
        <div class="card-body ">
          <h1 class="card-title">{{food.name}}</h1>
          <h4 class="card-text">Price: ${{food.price}}</h4>
          <p class="card-text">Description: {{food.description}}</p>
          <p class="card-text">Category: {{food.category}}</p>
          <p class="card-text">Rating: {{food.rating}}</p>
          {% if request.user.is_authenticated %}
          <a href="{% url 'add_cardlist' foodid=food.foodid %}" class="btn btn-success">Add to card</a>
          <a href="{% url 'add_wishlist' foodid=food.foodid %}" class="btn btn-success">Add to wish</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand my-5 py-5">
    <ul class="slider-container py-4" id="slider2">
      {% for food in foodData %}
        <li>
          <a href="{% url 'food_details' food.foodid %}" class="text-decoration-none text-dark">
            <div class="shadow h-100 p-4">
                <div class="ratio ratio-1x1">
                    <img src="{{ food.image.url }}" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>{{food.name}}</strong>
                        <p class="card-text">{{food.category}}</p>
                    </div>
                    <div class="px-md-2">${{food.price}}</div>
                </div>
            </div>
          </a>
        </li>
        
     
        {% endfor %}
     
       
       
       
       
    </ul>

    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
</div>





  
    <div class="my-5">
      <div class="card-body">
        <h5 class="my-3">Total Reviews : {{reviews | length}}</h5>
        
          {% for review in reviews %}
          <div class="border p-3 mt-2">
          <p><span class="fw-bold">{{review.author.first_name}} {{review.author.last_name}}</span> {{review.created}}</p>
          <p>{{review.body}}</p>
          <p>Rating: {{review.rating}}</p>
        </div>
          {% endfor %}
        
      </div>
    </div>
  
    {% if request.user.is_authenticated %}
    <div class="my-5">
      <div class="card-body">
        
        {% if review_form %}
          <h5>Add Review</h5>
          <form method="post">
              {% csrf_token %}
              {{review_form | crispy}}
              <button class="btn btn-warning">Submit</button>
          </form>
        {% endif %}
      
      </div>
    </div>
    {% endif %}
  
</div>














    
  

{% endblock %}