{% extends 'base.html' %}

{% load static %}

{% block content %}
 
<div class="container mb-5 pb-5">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h1 class="text-danger fw-light">Food wishlist</h1>
    <a href="{% url 'delete_wishlist_all' %}" class="btn btn-danger" >Delete All</a>
  </div>
    
    <div class="row my-3">
        {% for food in food_wishlist %}
        <div class="col-sm-3 my-3">
          <div class="shadow p-3 h-100">
            <div class="card-body">
              <img src="{{food.image.url}}" class="card-img-top" alt="...">
              <h5 class="card-title">{{food.name}}</h5>
              <p class="card-text">Price: ${{food.price}}</p>
              <p class="card-text">{{car.description | truncatewords:10}}</p>
              <p class="card-text">Category: <span class="fw-light">{{food.category.name}}</span></p>
              <a href="{% url 'food_details' food.foodid %}" class="text-decoration-none text-dark btn btn-warning">View Details</a>
              <a class="btn btn-danger" href="{% url 'delete_wishlist' food.id %}" ><i class="fa-solid fa-trash"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>

      



{% endblock %}
