{% extends 'base.html' %}
{% load static %}
{% block content %}




<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active  h-100 c-item">
      <img src="{% static 'images/b1.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-lg-block d-block h-100 text-lg-center text-sm-center d-lg-flex d-sm-flex flex-lg-column flex-sm-column justify-content-center justify-content-sm-center align-items-center align-items-sm-center">
        <h1 class="banner-txt opacity-75">IT IS NOT JUST A FOOD, IT IS AN EXPERIENCE</h1>
        
      </div>
    </div>
    <div class="carousel-item  h-100 c-item">
      <img src="{% static 'images/b2.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block d-lg-block h-100 text-lg-center text-sm-center d-lg-flex d-sm-flex flex-lg-column flex-sm-column justify-content-center justify-content-sm-center align-items-center align-items-sm-center">
        <h1 class="banner-txt opacity-75">ORDER TASTY AND FRESH FOOD</h1>
        
      </div>
    </div>
    <div class="carousel-item  h-100 c-item">
      <img src="{% static 'images/b3.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block d-lg-block h-100 text-lg-center text-sm-center d-lg-flex d-sm-flex flex-lg-column flex-sm-column justify-content-center justify-content-sm-center align-items-center align-items-sm-center">
        <h1 class="banner-txt opacity-75">PURE NATURAL FOOD FOR YOUR HEALTHY LIFE</h1>
      
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<h1 class="my-5 text-center fw-light text-success">Best Food Waiting for Your Belly</h1>


<form method="get" action="{% url 'search' %}" class="input-group container mb-3 w-50">
  <input type="text" class="form-control" placeholder="Search here" aria-label="Recipient's username" aria-describedby="button-addon2" name="query" id="search">
  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
</form>



<div class="container text-center my-5">

  <div class="grid gap-3">
    <div class="col-1 btn btn-outline-warning "><a class="text-decoration-none text-dark" href="{% url 'home' %}">All</a></div>
      {% for b in category %}
          <div class="col-1 btn btn-outline-warning "><a class="text-decoration-none text-dark" href="{% url 'category_wise_food' b.slug %}">{{b.name}}</a></div>
      {% endfor %}
  </div>
</div>


<div class="row my-5 container m-auto">
  {% if data %}
  {% for food in data %}
  <div class="col-lg-4 my-3 box ">
    <a href="{% url 'food_details' food.foodid %}" class="text-decoration-none text-center text-dark">
    <div class=" h-100 shadow p-2">
      <div class="card-body">
        <img src="{{food.image.url}}" class="card-img-top cd-image w-75 h-75" alt="...">
        <h5 class="card-title fw-light mt-2">{{food.name}}</h5>
        <p class="card-text fw-bold">${{food.price}}</p>
        <p class="card-text">{{car.description | truncatewords:10}}</p>
        <p class="card-text fw-bold"><span class="fw-light">{{food.category.name}}</span></p>
      </div>
    </div>
  </a>
  </div>
  {% endfor %}
  {% else %}
  <div style="height: 400px;"> 
    <h3 class="text-center text-danger">No item found</h3>
  </div>
  {% endif %}
</div>





<div class="my-5 food-image d-flex flex-column justify-content-center align-items-center">
  <h1>ENJOY YOUR HEALTHY DELICIOUS FOOD</h1>
</div>


<div class="my-5 py-5 container">
  <h1 class="fw-light text-success text-center mb-4">Our Master Chef</h1>
<div class="text-center">
  <div class="row">
    <div class="col-lg-3">
      <div class="">
        <img src="{% static 'images/chef-1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luke Simon</h5>
          <p class="card-text m-0">Chef</p>
          <a href="https://www.facebook.com/" class="text-success fs-5"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://twitter.com/" class="text-success fs-5"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com/" class="text-success fs-5"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.tiktok.com/" class="text-success fs-5"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="">
        <img src="{% static 'images/chef-2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rebeca Welson</h5>
          <p class="card-text m-0">Head Chef</p>
          <a href="https://www.facebook.com/" class="text-success fs-5"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://twitter.com/" class="text-success fs-5"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com/" class="text-success fs-5"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.tiktok.com/" class="text-success fs-5"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="">
        <img src="{% static 'images/chef-3.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kharl Branyt</h5>
          <p class="card-text m-0">Chef.</p>
          <a href="https://www.facebook.com/" class="text-success fs-5"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://twitter.com/" class="text-success fs-5"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com/" class="text-success fs-5"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.tiktok.com/" class="text-success fs-5"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="">
        <img src="{% static 'images/chef-4.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">John Smooth</h5>
          <p class="card-text m-0">Restaurant Owner</p>
          <a href="https://www.facebook.com/" class="text-success fs-5"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://twitter.com/" class="text-success fs-5"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com/" class="text-success fs-5"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.tiktok.com/" class="text-success fs-5"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<div class="width-title mb-3 center-title text-center">
  <h1 class="fw-light text-success mb-4">Happy Customer</h1>
</div>

<div class="swiffy-slider slider-item-show2 slider-nav-sm slider-nav-page slider-item-snapstart slider-item-nogap slider-nav-round slider-nav-dark slider-indicators-sm slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-slideup slider-item-first-visible ">
  <div class="slider-container">
      <div class="p-3 p-xl-5 text-light slide-visible" style="background-color: rgb(53, 79, 82); --darkreader-inline-bgcolor: #2a3f42;" data-darkreader-inline-bgcolor="">
        <div class="d-flex justify-content-between">
          <img class="img-fluid mb-2" src="{% static 'images/comma.png' %}" alt="">
          <div>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-regular fa-star text-warning"></i>
          </div>
        </div>
          <p>
            I was so impressed with my breakfast this morning! I tried the Fried Green Tomato Benedict and my boyfriend got the Crab Cakes Benedict. We both finished our whole plates and were so impressed with the quality 
          </p>
          <div class="d-flex align-items-center">
            <img class="img-fluid" src="{% static 'images/customar2.png' %}" alt="">
            <div class="ms-3">
              <h6 class="text-white mb-0">Shanta Akter</h6>
            </div>
          </div>
      </div>
      <div class="p-3 p-xl-5 text-light slide-visible" style="background-color: rgb(53, 79, 82); --darkreader-inline-bgcolor: #2a3f42;" data-darkreader-inline-bgcolor="">
        <div class="d-flex justify-content-between">
          <img class="img-fluid mb-2" src="{% static 'images/comma.png' %}" alt="">
          <div>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-regular fa-star text-warning"></i>
          </div>
        </div>
          <p>
            Breakfast was delicious. Like a good homestyle country savory breakfast (and Im from the south, thats saying a lot)… Enjoyed the whole experience and definitely recommend this place for a place to eat on the cape
          </p>
          <div class="d-flex align-items-center">
            <img class="img-fluid" src="{% static 'images/customar1.png' %}" alt="">
            <div class="ms-3">
              <h6 class="text-white mb-0">Awlad Hossain</h6>
            </div>
          </div>
      </div>
      <div class="p-3 p-xl-5 text-light slide-visible" style="background-color: rgb(53, 79, 82); --darkreader-inline-bgcolor: #2a3f42;" data-darkreader-inline-bgcolor="">
        <div class="d-flex justify-content-between">
          <img class="img-fluid mb-2" src="{% static 'images/comma.png' %}" alt="">
          <div>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-regular fa-star text-warning"></i>
          </div>
        </div>
          <p>
            I was so impressed with my breakfast this morning! I tried the Fried Green Tomato Benedict and my boyfriend got the Crab Cakes Benedict. We both finished our whole plates and were so impressed with the quality 
          </p>
          <div class="d-flex align-items-center">
            <img class="img-fluid customar-image" src="{% static 'images/customar5.png' %}" alt="">
            <div class="ms-3">
              <h6 class="text-white mb-0">Emma Charl</h6>
            </div>
          </div>
      </div>
      <div class="p-3 p-xl-5 text-light slide-visible" style="background-color: rgb(53, 79, 82); --darkreader-inline-bgcolor: #2a3f42;" data-darkreader-inline-bgcolor="">
        <div class="d-flex justify-content-between">
          <img class="img-fluid mb-2" src="{% static 'images/comma.png' %}" alt="">
          <div>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-regular fa-star text-warning"></i>
          </div>
        </div>
          <p>
            Breakfast was delicious. Like a good homestyle country savory breakfast (and Im from the south, thats saying a lot)… Enjoyed the whole experience and definitely recommend this place for a place to eat on the cape
          </p>
          <div class="d-flex align-items-center">
            <img class="img-fluid customar-image" src="{% static 'images/customar3.png' %}" alt="">
            <div class="ms-3">
              <h6 class="text-white mb-0">William Jack</h6>
            </div>
          </div>
      </div>
      <div class="p-3 p-xl-5 text-light slide-visible" style="background-color: rgb(53, 79, 82); --darkreader-inline-bgcolor: #2a3f42;" data-darkreader-inline-bgcolor="">
        <div class="d-flex justify-content-between">
          <img class="img-fluid mb-2" src="{% static 'images/comma.png' %}" alt="">
          <div>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-regular fa-star text-warning"></i>
          </div>
        </div>
          <p>
            I was so impressed with my breakfast this morning! I tried the Fried Green Tomato Benedict and my boyfriend got the Crab Cakes Benedict. We both finished our whole plates and were so impressed with the quality 
          </p>
          <div class="d-flex align-items-center">
            <img class="img-fluid customar-image" src="{% static 'images/customar4.png' %}" alt="">
            <div class="ms-3">
              <h6 class="text-white mb-0">Michel Robert</h6>
            </div>
          </div>
      </div>
      <div class="p-3 p-xl-5 text-light slide-visible" style="background-color: rgb(53, 79, 82); --darkreader-inline-bgcolor: #2a3f42;" data-darkreader-inline-bgcolor="">
        <div class="d-flex justify-content-between">
          <img class="img-fluid mb-2" src="{% static 'images/comma.png' %}" alt="">
          <div>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-regular fa-star text-warning"></i>
          </div>
        </div>
          <p>
            Breakfast was delicious. Like a good homestyle country savory breakfast (and Im from the south, thats saying a lot)… Enjoyed the whole experience and definitely recommend this place for a place to eat on the cape
          </p>
          <div class="d-flex align-items-center">
            <img class="img-fluid" src="{% static 'images/customar2.png' %}" alt="">
            <div class="ms-3">
              <h6 class="text-white mb-0">Shanta Akter</h6>
            </div>
          </div>
      </div>
  </div>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

  <div class="slider-indicators d-md-none">
      <button class="active" aria-label="Go to slide"></button>
      <button aria-label="Go to slide"></button>
      <button aria-label="Go to slide"></button>
      <button aria-label="Go to slide"></button>
      <button aria-label="Go to slide"></button>
      <button aria-label="Go to slide"></button>
  </div>
</div>





<div class="my-5 py-5">
  <div class="width-title mb-3 center-title text-center ">
    <h1 class="fw-light text-success mb-4">Catering Services</h1>
  </div>
  <div class="container text-center my-5">
    <div class="row">
      <div class="col-lg-4 col-sm-12  my-sm-3">
        <i class="fa-solid fa-cake-candles fs-1 text-success"></i>
        <h2 class="text-success">Birthday Party</h2>
        <p class="icon-text">A free trackable two days delivery service on all orders over $90</p>
      </div>
      <div class="col-lg-4 col-sm-12 my-sm-3">
        <i class="fa-solid fa-user-tie fs-1 text-success"></i>
        <h2 class="text-success">Business Meetings</h2>
        <p class="icon-text">We offer customers 100% money back guarantee on everything we sell.</p>
      </div>
      <div class="col-lg-4 col-sm-12 my-sm-3">
        <i class="fa-solid fa-champagne-glasses fs-1 text-success"></i>
        <h2 class="text-success">Wedding Party</h2>
        <p class="icon-text">All orders placed before Sunday to Friday are dispatched same day.</p>
      </div>
    </div>
  </div>
</div>












{% endblock %}